.publicacoes {
  margin-top: 2em;
  /* margin-left: auto;
  margin-right: auto;
  width: 800px; */
}

.publicacao {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

label > input[type=radio] {
  display: inline-block;
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input[type=radio] + img { /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input[type=radio]:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border: 1px solid gray;
}

[hidden] {
  display: none !important;
}

#filtersContainer {
  position: relative;
}

.img-center {
  object-fit: cover;
}