{% extends 'base.njk' %} 

{% block conteudo %}

<form action="/publicar" method="post" encType="multipart/form-data" class="form">

  <h2>Nova Publicação</h2>

  {% if publicacao.erros %}
  <div class="alert alert-danger" role="alert">
    <ul>
      {% for erro in publicacao.erros %}
      <li class="erro">
        {{erro.msg}}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <input type="hidden" name="_csrf" value="{{csrf}}">

  <div class="form-group">
    <label for="localizacao">Localizacao:</label>
    <input class="form-control" type="text" name="localizacao" id="localizacao" value="{{publicacao.localizacao}}">
  </div>

  <div class="form-group">
    <label id="fileButton" class="btn btn-info">
      Selecionar Imagem!<input class="form-control" type="file" accept="image/*" name="foto" id="foto" value="" onchange="handleFiles(this.files)" required hidden>
    </label>
    <img id="image-render" class="img-fluid rounded mx-auto d-none">
  </div>

  <div class="form-group">
    <pre id="filtersContainer"></pre>
  </div>
  
  <div class="form-group">
    <label for="legenda">Legenda:</label>
    <textarea class="form-control" name="legenda" id="legenda" value="{{publicacao.legenda}}"></textarea>
  </div>

  <div class="form-group">
    <button class="btn btn-success">Publicar</button>
  </div>
</form>

{% endblock%}

{% block js%}
  <script src="/js/aplicacao.js"></script>
{% endblock%}