{% extends 'base.njk' %} 

{% block conteudo %}

<div class="publicacoes">

  {% for publicacao in publicacoes %}
    <article class="publicacao mb-2">
      <div class="border border-top-0 border-right-0 border-left-0 mb-1 pt-1 pb-1">
        <a href="/perfil/{{publicacao.nome}}">
          <img src="/imgs/2.jpg" alt="" width="48px" heigth="48px" class="rounded-circle"> @{{publicacao.nome}}
        </a>
        {% if publicacao.localizacao %}
          em {{ publicacao.localizacao }}
        {% endif %}
      </div>
      <a href="/publicacoes/{{ publicacao.id }}">
        <figure class="figure text-center">
          <img src="{{ publicacao.foto }}" alt="" class="img-fluid rounded mx-auto {{ publicacao.filtro }}">
          <br />
          {% if publicacao.legenda %}
            <figcaption class="figure-caption text-justify mt-2">
              <strong>dannluciano</strong>: {{ publicacao.legenda }}
            </figcaption>
          {% endif %}
        </figure>
      </a>
    </article>
  {% endfor %}
  <br />
</div>

{% endblock %}